html {
	color: #DDD;
	font-family: 'Play', sans-serif;
	text-align: center;
	margin: auto;
}

body {
	background-image: url("hacks.jpg");
	background-size: cover;
}

.nav {
	text-align: right;
}

li {

	display: inline-block;
	padding-right: 1em;
	font-size: 2em;
}

li a {
	text-decoration: none;
	color: #DDD;
}

li a:hover {
	color: #999;
}

.body {
	position: relative;
	margin: auto;
	margin-top: 15%;
}

.title {
	font-size: 3em;
}

/*
// Tried to have the footer stay at the bottom but this also effects the PHP that's echo'ed out. EVERYTHING goes to the bottom of the page.
#wrap {min-height: 100%;}
#main {overflow: auto;
		padding-bottom: 150px;}

#footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
}
*/

table {
	border: .1em solid #DDD;
	text-align: center;
	background-color: rgba(50,50,50,.9);
	margin: auto;
	}

td {
	padding: .4em;
}

form {
	text-align: center;
	margin: auto;
}

label {
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
	margin-left: -2.5%;
}
input {
	border: 1px solid #DDD;
	border-radius: 7px;
	padding: 15px;
	margin: .5em;
	background-color: #DDD;
	font-family: 'Play', sans-serif;
	font-size: 1.5em;
}

#submit {
	background-color: #ec151f; 
	color: #DDD; 
	border-color: #ec151f;
}

#submit:active {
	border: 2px red;
}

